<div class="card">
  <img
    src="<%= recipe.image || '/images/default-recipe.jpg' %>"
    alt="<%= recipe.title %>"
  />
  <h3><%= recipe.title %></h3>
  <p class="muted">
    <%= recipe.description ? recipe.description.substring(0,120) +
    (recipe.description.length>120 ? '...' : '') : '' %>
  </p>
  <p class="meta">By <%= recipe.createdBy?.username || 'Unknown' %></p>
  <div class="card-actions">
    <a class="btn" href="/recipes/<%= recipe._id %>">View</a>
  </div>
</div>
